.services {
    background-color: #fff;
    &__box {
        padding-bottom: 94px;
        
    }
    &__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--main-title-color);
        margin-bottom: 50px;
        @media screen and (min-width: 1200px) {
            font-size: 36px;
            line-height: 1.16;    
        }
    }
}
.specs {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @media screen and (min-width: 768px) {
        align-items: center;
        justify-content: center;
    }
    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    } 
}

.specs__item {
    width: 100%;
    position: relative;
    @media screen and (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 30px) / 3);
    }
}

.specs__img {
    width: 100%;
}

.descr {
    width: 100%;
    height: 70px;
    background-color: #2F303A;
    opacity: 80%;
    padding: 27px;
    position: absolute;
    bottom: 0;
    z-index: 0;
    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #fff;
    }
}

